body{
    background-image: url(/static/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.icon {
    width: 70px;
    height: 70px;
}

.active{
    color: rgba(243, 103, 42, 1) !important;
    transform: scale(1.1);
}

.icon-box:hover {
    transform: scale(1.01);
    cursor: pointer;
    font-weight: 400;
}

.icon-box:active {
    transform: scale(0.99);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.small-img {
    width: 20px;
    height: 20px;
}

.small-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.small-img:active {
    transform: scale(0.99);
    filter: drop-shadow(0px 5px 10px rgba(35, 38, 42, 0.4));
}

.project_icon {
    width: 20px;
    height: 20px;
}

.project_icon:hover{
    transform: scale(1.1);
}

.theme-color-1 {
    background-color: rgb(59, 144, 213, .15);
}

.theme-color-2 {
    background-color: rgba(238, 117, 37, 0);
    border: none;
}

.theme-color-3 {
    background-color: rgba(58, 61, 64, 0.15);
}

.theme-color-4{
    background-color : rgba(243, 102, 42, 0.15);
}

.theme-title-4{
    color : rgba(243, 103, 42, 1);
}

.theme-warning{
    background-color : rgba(243, 199, 42, 0.258);
}

.theme-success{
    background-color : rgba(42, 243, 42, 0.258);
}

.theme-danger{
    background-color : rgba(243, 42, 42, 0.258);
}

.theme-button-1{
    background-color : rgba(243, 102, 42, 0.696);
}

.theme-button-1:hover{
    background-color : rgba(243, 102, 42, 0.912);
    transform: scale(1.1);
}
.glass-effect {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    /* background-color: rgba(255, 255, 255, .15); */
    backdrop-filter: blur(5px);
}

.bg-vid{
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
}

/* Custom CSS to style the input as a white underline */
.underline-input {
    border: none;
    border-bottom: 1px solid #fff; /* White underline */
    border-radius: 0;
    background-color: transparent; /* Transparent background */
    padding: 5px; /* Add some padding for spacing */
    font-size: 20px; /* Increase the font size */
    color: #fff; /* Text color */
    outline: none; /* Remove the default input focus outline */
   
}

.underline-input::placeholder{
    font-size: 20px; /* Increase the font size */
    color: #fff;
}

@media (min-aspect-ratio: 16/9){
    .bg-vid{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .bg-vid{
        width: auto;
        height: 100%;
    }
}

.small-icon{
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
}

.small-icon:hover{
    transform: scale(1.1);
}
