{% extends 'base.html' %}
{% block project_active %}active{% endblock project_active %}
{% block body %}
<div class="modal fade" id="creatProjectModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editGoal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="creatProjectModalTitle">Create Project</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/add-project" method="post">
                <div class="modal-body">
                    <div class="">
                        <label for="project-name" class="form-label">Project Name</label>
                        <input type="text" class="form-control" name="project" id="project-name" required>
                    </div>
                    <div class="mt-2">
                        <label for="project-desc" class="form-label">Project Description</label>
                        <textarea class="form-control" name="desc" id="desc" rows="3" required></textarea>
                    </div>
                    <div class="mt-2">
                        <label for="project-desc" class="form-label">Due Date</label>
                        <input type="date" class="form-control" name="dueDate" id="dueDate" required>
                    </div>
                    <div class="mt-2">
                        <label for="project-desc" class="form-label">Project Status</label>
                        <select class="form-select" aria-label="Default select example" name="status">
                            <option selected value="Active">Active</option>
                            <option value="Active">Halt</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="update-goal" class="btn btn-outline-success">Create</button>
                    <!-- need to add data-bs-dismiss="modal" for this button otherwise the modal wont close  -->
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <h4 class="text-light">Your Projects</h4>
    <hr>
    <div class="row">
        <div class="col">
            <div class="d-flex gap-2 flex-wrap">
                {% for project in projects %}
                <div class="card glass-effect theme-color-1" style="width: 15rem; min-height: 200px;">
                    <div class="card-body {{project.color}} rounded-2 d-flex flex-column">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title " >{{project.project.title()}}</h5>
                            <a href="/deleteProj/{{project.id}}"><img src="/static/trash.png" class="project_icon m-0 p-0" alt="" srcset=""></a>
                        </div>
                        <p class="card-text">{{project.desc}}</p>
                        <div class="container-fluid mt-auto" id="bottom">
                            <hr>
                            <span class="card-text"><b>Due date:</b> <span class="">{{project.due_date}}</span></span>
                            <span class="card-text"><b> Project Status:</b> <span class="">{{project.status}}</span></span>
                            <a href="/viewProject/{{project.id}}" class="btn mt-2 theme-button-1">Open</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="card icon-box glass-effect theme-color-1" style="width: 15rem; min-height: 200px;" data-bs-toggle="modal"
                    data-bs-target="#creatProjectModal">
                    <div class="card-body text-center">
                        <div class="d-flex h-100 align-items-center justify-content-center">
                            <img src="/static/plus.png" class="icon" class="user-select-none" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>
<div class="container mt-3">
    <h4 class="text-light">Invited Projects</h4>
    <hr>
    <div class="row">
    </div>
</div>
{% endblock body %}