{% extends 'base.html' %}
{% block body %}
<div class="container">
    <form action="" method="POST">
      <div class="mb-3">
        <label for="todo" class="form-label">Task</label>
        <input type="text" class="form-control" name="todo" id="todo" value="{{todo.todo}}">
          </div>
          <div class="mb-3">
            <label for="decs" class="form-label">Description</label>
            <input type="text" class="form-control" name="decs" id="decs" value="{{todo.desc}}">
          </div>
          <button type="submit" class="btn btn-success btn-l">Update</button>
        </form>
      </div>
{% endblock body %}