{% extends 'base.html' %}
{% block project_active %}active{% endblock project_active %}
{% block body %}
<div class="container">
    <div class="d-flex justify-content-between">
        <h3>{{projectName}}</h3>
        <p class="mt-2">Creator: Palash Dhavle</p>
    </div>
    <h6>Due: {{due_date}}</h6>
    <hr>
</div>
<div class="container mt-3">
    <div class="d-flex gap-2" id="main">
        <div class="container bg-secondary-subtle rounded-3" id="hts-c">
            <h6 class="fs-5 mt-2">Have to start</h6>
            <div class="container ps-0">
                <div class="row mb-2">
                    <div class="col-11">
                        <input type="text" id="add-hts-input" class="form-control" placeholder="add task">
                    </div>
                    <div class="col-1 p-0">
                        <input type="button" id="add-hts" value="+" proj_id="{{proj_id}}"
                            class="btn btn-outline-success pt-1"></input>
                    </div>
                </div>
            </div>
            {% for task in hts_task %}
            <div class="card mb-2" id="card_{{task.id}}" status={{task.task_status}}>
                <div class="card-body">
                    <h5 class="card-title" id="cardName_{{task.id}}">{{task.task_name}}</h5>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-1">
                            <div><img src="/static/edit.png" class="small-img" alt="" id="edit_{{task.id}}"></div>
                            <div><img src="/static/trash.png" class="small-img" id="del_{{task.id}}" alt=""></div>
                        </div>
                        <div class="d-flex gap-1">
                            <div><img src="/static/arrow-left.png" id="left_{{task.id}}" class="small-img" alt=""></div>
                            <div><img src="/static/arrow-right.png" id="right_{{task.id}}" class="small-img" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="container bg-secondary-subtle rounded-3" id="woi-c">
            <h6 class="fs-5 mt-2">Working on it</h6>
            <div class="container ps-0">
                <div class="row mb-2">
                    <div class="col-11">
                        <input type="text" id="add-woi-input" class="form-control" placeholder="add task">
                    </div>
                    <div class="col-1 p-0">
                        <input type="button" id="add-woi" value="+" proj_id="{{proj_id}}"
                            class="btn btn-outline-success pt-1"></input>
                    </div>
                </div>
            </div>
            {% for task in woi_task %}
            <div class="card mb-2" id="card_{{task.id}}" status={{task.task_status}}>
                <div class="card-body">
                    <h5 class="card-title" id="cardName_{{task.id}}">{{task.task_name}}</h5>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-1">
                            <div><img src="/static/edit.png" class="small-img" alt="" id="edit_{{task.id}}"></div>
                            <div><img src="/static/trash.png" class="small-img" id="del_{{task.id}}" alt=""></div>
                        </div>
                        <div class="d-flex gap-1">
                            <div><img src="/static/arrow-left.png" id="left_{{task.id}}" class="small-img" alt=""></div>
                            <div><img src="/static/arrow-right.png" id="right_{{task.id}}" class="small-img" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="container bg-secondary-subtle rounded-3" id="c-c">
            <h6 class="fs-5 mt-2">Completed</h6>
            <div class="container ps-0">
                <div class="row mb-2">
                    <div class="col-11">
                        <input type="text" id="add-c-input" class="form-control" placeholder="add task">
                    </div>
                    <div class="col-1 p-0">
                        <input type="button" id="add-c" value="+" proj_id="{{proj_id}}"
                            class="btn btn-outline-success pt-1"></input>
                    </div>
                </div>
            </div>
            {% for task in c_task %}
            <div class="card mb-2" id="card_{{task.id}}" status={{task.task_status}}>
                <div class="card-body">
                    <h5 class="card-title" id="cardName_{{task.id}}">{{task.task_name}}</h5>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-1">
                            <div><img src="/static/edit.png" class="small-img" alt="" id="edit_{{task.id}}"></div>
                            <div><img src="/static/trash.png" class="small-img" id="del_{{task.id}}" alt=""></div>
                        </div>
                        <div class="d-flex gap-1">
                            <div><img src="/static/arrow-left.png" id="left_{{task.id}}" class="small-img" alt=""></div>
                            <div><img src="/static/arrow-right.png" id="right_{{task.id}}" class="small-img" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    let map = {
        'add-woi': 'woi-c',
        'add-hts': 'hts-c',
        'add-c': 'c-c'
    }

    let status_map = {
        0: 'hts-c',
        1: 'woi-c',
        2: 'c-c'
    }

    let rev_status_map = {
        'hts-c': 0,
        'woi-c': 1,
        'c-c': 2
    }

    function create_project_task(unique_id, task_name, target_container, status) {
        if (task_name) {
            let card = `<div class="card mb-2" id="card_${unique_id}" status=${status}>
                        <div class="card-body">
                            <h5 class="card-title" id="cardName_${unique_id}">${task_name}</h5>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex gap-1">
                                    <div><img src="/static/edit.png" class="small-img" alt="" id="edit_${unique_id}"></div>
                                    <div><img src="/static/trash.png" class="small-img" id="del_${unique_id}" alt=""></div>
                                    </div>
                                    <div class="d-flex gap-1">
                                        <div><img src="/static/arrow-left.png" id="left_${unique_id}" class="small-img" alt=""></div>
                                        <div><img src="/static/arrow-right.png" id="right_${unique_id}" class="small-img" alt=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>`
            let node = document.createElement('div')
            node.innerHTML = card
            target_container.appendChild(node)
        }
    }

    function card_oparations(target_id, action) {
        console.log(action, target_id);
        let target_card = document.getElementById("card_" + target_id)
        let card_name = document.getElementById("cardName_" + target_id).innerText
        let target_status = parseInt(target_card.getAttribute('status'))
        const headers = {
                'Content-Type': 'application/json'
            }
        
        let options={method: 'POST',
                    headers: headers,}
        if (action == "left" && target_status > 0) {
            target_card.remove()
            target_status -= 1

            target_card_container = document.getElementById(status_map[target_status])

            json_data = { 'id': target_id,'status':target_status }
            options['body'] = JSON.stringify(json_data)

            fetch(`http://127.0.0.1:5001/update_Project_Task`, options)
                .then((res) => {
                    create_project_task(target_id, card_name, target_card_container, target_status)
                })
        }
        else if (action == "right" && target_status < 2) {
            target_card.remove()
            target_status += 1

            target_card_container = document.getElementById(status_map[target_status])

            json_data = { 'id': target_id,'status':target_status}
            options['body'] = JSON.stringify(json_data)

            fetch(`http://127.0.0.1:5001/update_Project_Task`, options)
                .then((res) => {
                    create_project_task(target_id, card_name, target_card_container, target_status)
                })
        }
        else if (action == "del") {
            json_data = { 'id': target_id }
            options['body'] = JSON.stringify(json_data)
            fetch(`http://127.0.0.1:5001/remove_Project_Task`, options)
                .then((res) => {
                    target_card.remove()
                })
        }
    }

    document.getElementById('main').addEventListener('click', (event) => {
        if (event.target) {
            // adding new task on click of add
            if (event.target.tagName == "INPUT" && event.target.getAttribute('type') == 'button') {
                let id = map[event.target.id]
                let target_container = document.getElementById(id)
                let task_input = document.getElementById(event.target.id + '-input')
                let task_name = task_input.value
                let unique_id = crypto.randomUUID()
                let proj_id = event.target.getAttribute('proj_id')
                let status_code = rev_status_map[id]

                let json_data = {
                    'task_id': unique_id,
                    'task_name': task_name,
                    'task_status': status_code,
                    'project_id': proj_id,
                }
                // Headers for the request
                const headers = {
                    'Content-Type': 'application/json'
                };
                const options = {
                    method: 'POST',
                    headers: headers,
                    body: JSON.stringify(json_data) // Convert JSON data to a string
                };
                if (task_name) {
                    fetch(`http://127.0.0.1:5001/add_Project_Task`, options)
                        .then((res) => {
                            create_project_task(unique_id, task_name, target_container, status_code)
                        })
                }
                task_input.value = ''
            }

            // performing oparations on task depending on the button pressed
            if (event.target.tagName == "IMG") {
                let target_id = event.target.id.split('_')
                card_oparations(target_id[1], target_id[0])
            }
        }
    })
</script>
{% endblock body %}