{% extends 'base.html' %}
{% block project_active %}active{% endblock project_active %}
{% block body %}
<div class="container">
    <div class="d-flex justify-content-between">
        <div>
            <div class="d-flex gap-2">
                <h3 class="theme-title-4">{{projectName.title()}}</h3>
                <div class="dropdown">
                    <img src="/static/add-user.png" alt="" class="small-icon mt-2" data-bs-toggle="dropdown" id="invite-button"
                        data-bs-auto-close="outside">
                    <div class="dropdown-menu">
                        <h6 class="ms-3">Invite people to your project</h6>
                        <div class="d-flex p-2" role="search" style="width: 400px;">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                id="searchInput">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </div>
                        <ul id="search_result" class="ps-0">
                            <li class="dropdown-item ps-1"><div class="ps-3">No Results...</div></li>
                        </ul>
                        <h6 class="ms-3">Paricipants</h6>
                        <ul id="participant_list" class="ps-0">
                            <li class="dropdown-item ps-1"><div class="ps-3">No Participants...</div></li>
                        </ul>
                    </div>
                </div>
            </div>
            <h6>Due: {{due_date}}</h6>
        </div>
        <div>
            <div style="margin-left: 37px;" class="mt-2">
                <select name="" proj_id="{{proj_id}}" id="project-status"
                    class="glass-effect theme-success ms-auto ps-1 pe-1"
                    style="border-radius: 5px; font-size: 20px; border:none">
                    {% if status == 'Active' %}
                    <option selected value="Active">Active</option>
                    <option value="Halt">Halt</option>
                    {% else %}
                    <option value="Active">Active</option>
                    <option selected value="Halt">Halt</option>
                    {% endif %}
                </select>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="container mt-3">
    <div class="d-flex gap-2" id="main">
        <div class="container rounded-3 glass-effect theme-color-1" id="hts-c">
            <h6 class="fs-5 mt-2 text-light">Have to start</h6>
            <div class="container ps-0">
                <div class="row mb-2">
                    <div class="col-11">
                        <input type="text" id="add-hts-input" class="form-control" placeholder="add task">
                    </div>
                    <div class="col-1 p-0">
                        <input type="button" id="add-hts" value="+" proj_id="{{proj_id}}"
                            class="btn theme-button-1 pt-1"></input>
                    </div>
                </div>
            </div>
            {% for task in hts_task %}
            <div class="card mb-2 glass-effect theme-color-1" id="card_{{task.id}}" status={{task.task_status}}>
                <div class="card-body">
                    <h5 class="card-title" id="cardName_{{task.id}}">{{task.task_name}}</h5>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-1">
                            <div><img src="/static/edit.png" class="small-img" alt="" id="edit_{{task.id}}"></div>
                            <div><img src="/static/trash.png" class="small-img" id="del_{{task.id}}" alt=""></div>
                        </div>
                        <div class="d-flex gap-1">
                            <div><img src="/static/arrow-left.png" id="left_{{task.id}}" class="small-img" alt=""></div>
                            <div><img src="/static/arrow-right.png" id="right_{{task.id}}" class="small-img" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="container glass-effect theme-color-1 rounded-3" id="woi-c">
            <h6 class="fs-5 mt-2 text-light">Working on it</h6>
            <div class="container ps-0">
                <div class="row mb-2">
                    <div class="col-11">
                        <input type="text" id="add-woi-input" class="form-control" placeholder="add task">
                    </div>
                    <div class="col-1 p-0">
                        <input type="button" id="add-woi" value="+" proj_id="{{proj_id}}"
                            class="btn theme-button-1 pt-1"></input>
                    </div>
                </div>
            </div>
            {% for task in woi_task %}
            <div class="card mb-2  glass-effect theme-color-1" id="card_{{task.id}}" status={{task.task_status}}>
                <div class="card-body">
                    <h5 class="card-title" id="cardName_{{task.id}}">{{task.task_name}}</h5>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-1">
                            <div><img src="/static/edit.png" class="small-img" alt="" id="edit_{{task.id}}"></div>
                            <div><img src="/static/trash.png" class="small-img" id="del_{{task.id}}" alt=""></div>
                        </div>
                        <div class="d-flex gap-1">
                            <div><img src="/static/arrow-left.png" id="left_{{task.id}}" class="small-img" alt=""></div>
                            <div><img src="/static/arrow-right.png" id="right_{{task.id}}" class="small-img" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="container glass-effect theme-color-1 rounded-3" id="c-c">
            <h6 class="fs-5 mt-2 text-light">Completed</h6>
            <div class="container ps-0">
                <div class="row mb-2">
                    <div class="col-11">
                        <input type="text" id="add-c-input" class="form-control" placeholder="add task">
                    </div>
                    <div class="col-1 p-0">
                        <input type="button" id="add-c" value="+" proj_id="{{proj_id}}"
                            class="btn theme-button-1 pt-1"></input>
                    </div>
                </div>
            </div>
            {% for task in c_task %}
            <div class="card mb-2 glass-effect theme-color-1" id="card_{{task.id}}" status={{task.task_status}}>
                <div class="card-body">
                    <h5 class="card-title" id="cardName_{{task.id}}">{{task.task_name}}</h5>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-1">
                            <div><img src="/static/edit.png" class="small-img" alt="" id="edit_{{task.id}}"></div>
                            <div><img src="/static/trash.png" class="small-img" id="del_{{task.id}}" alt=""></div>
                        </div>
                        <div class="d-flex gap-1">
                            <div><img src="/static/arrow-left.png" id="left_{{task.id}}" class="small-img" alt=""></div>
                            <div><img src="/static/arrow-right.png" id="right_{{task.id}}" class="small-img" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    let map = {
        'add-woi': 'woi-c',
        'add-hts': 'hts-c',
        'add-c': 'c-c'
    }

    let status_map = {
        0: 'hts-c',
        1: 'woi-c',
        2: 'c-c'
    }

    let rev_status_map = {
        'hts-c': 0,
        'woi-c': 1,
        'c-c': 2
    }

    function create_project_task(unique_id, task_name, target_container, status) {
        if (task_name) {
            let card = `<div class="card mb-2 glass-effect theme-color-1" id="card_${unique_id}" status=${status}>
                        <div class="card-body">
                            <h5 class="card-title" id="cardName_${unique_id}">${task_name}</h5>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex gap-1">
                                    <div><img src="/static/edit.png" class="small-img" alt="" id="edit_${unique_id}"></div>
                                    <div><img src="/static/trash.png" class="small-img" id="del_${unique_id}" alt=""></div>
                                    </div>
                                    <div class="d-flex gap-1">
                                        <div><img src="/static/arrow-left.png" id="left_${unique_id}" class="small-img" alt=""></div>
                                        <div><img src="/static/arrow-right.png" id="right_${unique_id}" class="small-img" alt=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>`
            let node = document.createElement('div')
            node.innerHTML = card
            target_container.appendChild(node)
        }
    }

    function card_oparations(target_id, action) {
        console.log(action, target_id);
        let target_card = document.getElementById("card_" + target_id)
        let card_name = document.getElementById("cardName_" + target_id).innerText
        let target_status = parseInt(target_card.getAttribute('status'))
        const headers = {
            'Content-Type': 'application/json'
        }

        let options = {
            method: 'POST',
            headers: headers,
        }
        if (action == "left" && target_status > 0) {
            target_card.remove()
            target_status -= 1

            target_card_container = document.getElementById(status_map[target_status])

            json_data = { 'id': target_id, 'status': target_status }
            options['body'] = JSON.stringify(json_data)

            fetch(`http://127.0.0.1:5001/update_Project_Task`, options)
                .then((res) => {
                    create_project_task(target_id, card_name, target_card_container, target_status)
                })
        }
        else if (action == "right" && target_status < 2) {
            target_card.remove()
            target_status += 1

            target_card_container = document.getElementById(status_map[target_status])

            json_data = { 'id': target_id, 'status': target_status }
            options['body'] = JSON.stringify(json_data)

            fetch(`http://127.0.0.1:5001/update_Project_Task`, options)
                .then((res) => {
                    create_project_task(target_id, card_name, target_card_container, target_status)
                })
        }
        else if (action == "del") {
            json_data = { 'id': target_id }
            options['body'] = JSON.stringify(json_data)
            fetch(`http://127.0.0.1:5001/remove_Project_Task`, options)
                .then((res) => {
                    target_card.remove()
                })
        }
    }

    document.getElementById('main').addEventListener('click', (event) => {
        if (event.target) {
            // adding new task on click of add
            if (event.target.tagName == "INPUT" && event.target.getAttribute('type') == 'button') {
                let id = map[event.target.id]
                let target_container = document.getElementById(id)
                let task_input = document.getElementById(event.target.id + '-input')
                let task_name = task_input.value
                let unique_id = crypto.randomUUID()
                let proj_id = event.target.getAttribute('proj_id')
                let status_code = rev_status_map[id]

                let json_data = {
                    'task_id': unique_id,
                    'task_name': task_name,
                    'task_status': status_code,
                    'project_id': proj_id,
                }
                // Headers for the request
                const headers = {
                    'Content-Type': 'application/json'
                };
                const options = {
                    method: 'POST',
                    headers: headers,
                    body: JSON.stringify(json_data) // Convert JSON data to a string
                };
                if (task_name) {
                    fetch(`http://127.0.0.1:5001/add_Project_Task`, options)
                        .then((res) => {
                            create_project_task(unique_id, task_name, target_container, status_code)
                        })
                }
                task_input.value = ''
            }

            // performing oparations on task depending on the button pressed
            if (event.target.tagName == "IMG") {
                let target_id = event.target.id.split('_')
                card_oparations(target_id[1], target_id[0])
            }
        }
    })
</script>

<script>
    function set_project_status() {
        if (statuss.value === 'Active') {
            statuss.classList.remove('theme-danger')
            statuss.classList.add('theme-success')
        }

        if (statuss.value === 'Halt') {
            statuss.classList.remove('theme-success')
            statuss.classList.add('theme-danger')
        }
    }
    let statuss = document.getElementById('project-status');
    statuss.addEventListener('input', (ev) => {
        json_data = { 'id': statuss.getAttribute('proj_id'), 'status': statuss.value }
        const headers = {
            'Content-Type': 'application/json'
        }

        let options = {
            method: 'POST',
            headers: headers,
        }
        options['body'] = JSON.stringify(json_data)
        fetch(`http://127.0.0.1:5001/update-status`, options)
            .then((res) => {
                set_project_status()
            })
    })
    set_project_status()
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.getElementById('searchInput');
        const searchResult = document.getElementById('search_result');
        let timer = null;

        searchInput.addEventListener('input', function () {
            clearTimeout(timer); // Clear previous timer

            const partialEmail = searchInput.value.trim();

            // Delay the API request to avoid excessive calls
            timer = setTimeout(function () {
                if (partialEmail.length === 0) {
                    searchResult.innerHTML = '<li class="dropdown-item ps-3"><div class="ps-3">No Results...</div></li>'; // Clear suggestions if input is empty
                    return;
                }

                fetch('http://127.0.0.1:5001/get_user_suggestions', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ partial_email: partialEmail, project_id: statuss.getAttribute('proj_id') }),
                })
                    .then(response => response.json())
                    .then(data => {
                        const suggestions = data.suggestions;
                        searchResult.innerHTML = '';
                        if (suggestions.length === 0) {
                            searchResult.innerHTML = '<li class="dropdown-item ps-3"><div class="ps-3"> No Results...</div></li>';
                        } else {
                            suggestions.forEach(suggestion => {
                                const listItem = document.createElement('li');
                                let disable_button = ""
                                let button_value = "Invite"
                                let style_class = "invite-btn"
                                if(suggestion[2] === true){
                                    disable_button = "disabled"
                                    button_value = "Invited \u2713"
                                    style_class = "invited-btn"
                                }
                                listItem.className = 'dropdown-item';
                                listItem.innerHTML = 
                                                    `<div class="d-flex border-1 justify-content-between pe-2">
                                                        <p class="ps-3">${suggestion[1]}</p>
                                                        <input type="button" class="${style_class}" value="${button_value}" id="${suggestion[0]}" ${disable_button}>
                                                    </div>`
                                listItem.classList.add('ps-0')
                                searchResult.appendChild(listItem);
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }, 500); // Adjust the delay time (milliseconds) as needed
        });
    });
    
    // displays participants in partipants inside view project
    let invite_btn = document.getElementById('invite-button')
    let participant_list = document.getElementById('participant_list')
    invite_btn.addEventListener('click', (ev)=>{
        fetch('http://127.0.0.1:5001/get_users_for_project', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({project_id: statuss.getAttribute('proj_id')}),
                })
                    .then(response => response.json())
                    .then(data => {
                        const invited_users = data.users;
                        participant_list.innerHTML = '';
                        if (invited_users.length === 0) {
                            participant_list.innerHTML = '<li class="dropdown-item ps-3"><div class="ps-3"> No Participants...</div></li>';
                        } else {
                            invited_users.forEach(user => {
                                const listItem = document.createElement('li');
                                
                                listItem.className = 'dropdown-item';
                                listItem.innerHTML = 
                                                    `<div class="d-flex border-1 justify-content-between pe-2">
                                                        <p class="ps-3">${user[1]}</p>
                                                        <input type="button" class="btn btn-danger btn-close" id="${user[0]}">
                                                    </div>`
                                listItem.classList.add('ps-0')
                                participant_list.appendChild(listItem);
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
    })

    // deletes participants from the parcipant list
	participant_list.addEventListener('click',(ev)=>{
		if (ev.target && event.target.tagName == 'INPUT') {
			let id = ev.target.getAttribute('id')
			fetch('http://127.0.0.1:5001/update_invites?kick_user=true',{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({'id':id,'action':"reject"}),
        })
		.then(response => response.json())
		.then(data => {
			if (data == 'ok'){
				ev.target.parentElement.parentElement.remove()
			}
		})
	}})
</script>

<script>
    // script to send invite
    let search_res = document.getElementById('search_result')
    search_res.addEventListener('click', (event) => {
        if (event.target && event.target.tagName == "INPUT") {
            let usr_id = event.target.id
            let proj_id = statuss.getAttribute('proj_id')
            fetch('http://127.0.0.1:5001/invite_user', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ 'user_id': usr_id, project_id: statuss.getAttribute('proj_id') }),
                })
                .then(response => response.json())
                .then(data => {
                    event.target.disabled = true
                    event.target.value = "Invited \u2713"
                    event.target.classList.remove('invite-btn')
                    event.target.classList.add('invited-btn')
                })

        }
    })
</script>
{% endblock body %}