{% extends 'base.html' %}
{% block project_active %}active{% endblock project_active %}
{% block body %}
<div class="container">
    <div class="d-flex justify-content-between">
        <h3>Project Name</h3>
        <p class="mt-2">Creator: Palash Dhavle</p>
    </div>
    <h6>Due: 20/09/2023</h6>
    <hr>
</div>
<div class="container mt-3">
    <div class="d-flex gap-2" id="main">
        <div class="container bg-secondary-subtle rounded-3" id="hts-c">
            <h6 class="fs-5 mt-2">Have to start</h6>
            <div class="container ps-0">
                <div class="row mb-2">
                    <div class="col-11">
                        <input type="text" id="add-hts-input" class="form-control" placeholder="add task">
                    </div>
                    <div class="col-1 p-0">
                        <input type="button" id="add-hts" value="+" class="btn btn-outline-success pt-1"></input>
                    </div>
                </div>
            </div>
        </div>
        <div class="container bg-secondary-subtle rounded-3" id="woi-c">
            <h6 class="fs-5 mt-2">Working on it</h6>
            <div class="container ps-0">
                <div class="row mb-2">
                    <div class="col-11">
                        <input type="text" id="add-woi-input" class="form-control" placeholder="add task">
                    </div>
                    <div class="col-1 p-0">
                        <input type="button" id="add-woi" value="+" class="btn btn-outline-success pt-1"></input>
                    </div>
                </div>
            </div>
        </div>
        <div class="container bg-secondary-subtle rounded-3" id="c-c">
            <h6 class="fs-5 mt-2">Completed</h6>
            <div class="container ps-0">
                <div class="row mb-2">
                    <div class="col-11">
                        <input type="text" id="add-c-input" class="form-control" placeholder="add task">
                    </div>
                    <div class="col-1 p-0">
                        <input type="button" id="add-c" value="+" class="btn btn-outline-success pt-1"></input>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let map = {
        'add-woi': 'woi-c',
        'add-hts': 'hts-c',
        'add-c': 'c-c'
    }
    document.getElementById('main').addEventListener('click', (event) => {
        if (event.target) {
            if (event.target.tagName == "INPUT" && event.target.getAttribute('type') == 'button') {
                let id = map[event.target.id]
                let target_container = document.getElementById(id)
                let task_input = document.getElementById(event.target.id + '-input')
                let task_name = task_input.value
                task_input.value = ''
                if (task_name) {
                    let card = `<div class="card mb-2">
                        <div class="card-body bg-danger-subtle">
                            <h5 class="card-title">${task_name}</h5>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex gap-1">
                                    <div><img src="/static/edit.png" class="small-img" alt=""></div>
                                    <div><img src="/static/trash.png" class="small-img" alt=""></div>
                                    </div>
                                    <div class="d-flex gap-1">
                                        <div><img src="/static/arrow-left.png" class="small-img" alt=""></div>
                                        <div><img src="/static/arrow-right.png" class="small-img" alt=""></div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>`
                    let node = document.createElement('div')
                    node.innerHTML = card
                    target_container.appendChild(node)
                }
            }
        }
    })
</script>
{% endblock body %}